<div>
    <h3>LOGIN</h3>
</div>
<form (ngSubmit)="submit()" class="loginForm mt-5"  #myForm="ngForm">
    
    <div class="mb-3 mt-5">
      <label for="email" class="form-label">Email address</label>
      <input type="email" id="email" class="form-control" #email="ngModel" aria-describedby="email" [(ngModel)]="form.email" name="email" style="width: 300px;" required>
      
    </div>

    <div class="mb-2 mt-1">
      <p *ngIf="email.invalid && (email.dirty || email.touched)" class="warn" style="width: 300px;">Email field must be valid</p>
      
    </div>
    
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" style="width: 300px;" #password="ngModel" class="form-control" id="password"  [(ngModel)]="form.password" name="password" required>
    </div>
    <div class="mb-2 mt-1"> 
      <p *ngIf="password.invalid && (password.dirty || password.touched)" class="warn" style="width: 300px;">Email field must be valid</p>
      
    </div>
   
    <button type="submit" class="btn btn-primary mb-5" style="width: 100px;" [disabled]="myForm.form.invalid">
      <ng-container *ngIf="isLoading()">
        Loading...
      </ng-container>
      <ng-container *ngIf="!isLoading()">
        Submit
      </ng-container>
    
    
    </button>
  </form>