<div class="card shadow m-4" style="width: 18rem;">
    <img [src]="book.image" [alt]="book.image" class="card-img-top" height="280px;">
    <div class="card-body">
    <h5 class="card-title">{{ book.name }}</h5>
    <p class="card-text">{{ book.name | titlecase}} by {{ book.author | titlecase}}</p>
    <p>{{ book.amount  | currency:'INR'}}</p>
    <button *ngIf="!isInCart" class="btn btn-primary" (click)="addToCart()">Add to cart</button>
    <button *ngIf="isInCart" class="btn btn-primary" (click)="removeFromCart()">Remove from cart</button>
    </div>
</div>