<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilton Hotels</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" /> 
    <link href="https://fontawesome.com/icons/dollar-sign?s=solid&f=sharp">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Pro:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        
            <div class="logo">
                <img src="assets/hilton.jpg" alt="logo" class="hilton-logo">
            </div>
            
        
        <div class="title">
            <h1 class="hotel-name">HILTON HOTELS</h1>
            <p class="intro-text">Luxury.Redefined.</p>
        </div>
    </header>

    <div class="vid">

        <video  controls autoplay loop class="center" src="assets/hotelintro.mp4" style="width: 1000px;">WELCOME</video>
    </div>

    <div class="subSection-1">
        <h2 class="title2">Put wellness at the center of your next stay</h2>
        <p>Come out of hibernation with a refreshing retreat</p>
        <button type="submit" class="first-button"><a href="/rooms" style="color: white;text-decoration: none;">Find your stay</a></button>
    </div>

    <section class="deals">
        <h2 class="deals-title">Offers that bring you peace of mind</h2>
        <p class="deals-subtitle">Find the perfect stay with our exclusive deals</p>
        <div class="deals-images">
            
                <img src="assets/pool-pic.jpg" class="pic1">
                    <div class="content">
                        <p>JOIN HILTON HONORS & GET UPTO 4,500 POINTS</p>
                    </div>

                <img src="assets/pool-pic2.jpg" class="pic2">
                    <div class="content">
                        <p>MULTIPLY YOUR POINTS</p>
                    </div>

                <img src="assets/party.jpg" class="pic3">
                    <div class="content">
                        <p>MAKE YOUR STAY EVEN SWEETER</p>
                    </div>
        </div>

        <section class="subsection-2">
            <h2 class="title2" style="margin-top: 20px;;">Location Inspiration</h2>
            <p style="margin-left: 10px;">Find the hotel that's just right for you and get the most out of your next stay</p>
            <div class="loc-items">
                <img src="assets/O1.jpg" class="l1">
                <img src="assets/o2.jpg" class="l2">
                <img src="assets/o3.jpg" class="l3">
                <img src="assets/o4.jpg" class="l4">
            </div>
            <div class="loc-items-desc">
                <p class="l-d-p" style="min-width: -2px;"><b>All-inclusive escapes</b><br>
                    Meals, amenities, activities, and <br>nightlife are all included under one simple rate at our all-inclusive resorts.</p>
                <p class="l-d-p2"><b>Resort getaways</b><br>
                    From adults-only escapes to <br>family friendly getaways, discover resort experiences that youll never forget.
                    </p>
                <p class="l-d-p3"><b>Spa experiences</b><br>
                    Hilton Hotels & Resorts offer spa experiences with indulgent treatments and elevated amenities.</p>
                <p class="l-d-p4"><b>EV charging</b><br>
                    Recharge your batteries at our locations offering EV charging stations.</p>

            </div>

        </section>

        <section class="subsection-3">
            <h2 class="title2" style="margin-top: 20px; text-align: center; margin-bottom: 20px;">Hilton honors member benefits</h2>
            <div class="icons">
                
                <li class="w3-xxxlarge"><i class="fa fa-dollar"></i></li>
                <li class="w3-xxxlarge"><i class="fa fa-circle"></i></li>
                <li class="w3-xxxlarge"><i class="fa fa-bed"></i></li>
                <li class="w3-xxxlarge"><i class="fa fa-lock"></i></li>
                <li class="w3-xxxlarge"><i class="fa fa-key"></i></li>
            </div>
            <div class="icon-info">
                <p class="i1">Hilton Honors <br>discount rates</p>
                <p class="i2">Points toward free<br> nights and more</p>
                <p class="i3">Choose Your Room</p>
                <p class="i4">Digital Check-In</p>
                <p class="i5">Digital Key</p>
            </div>


        </section>
    

        

    </section>


    <!--<button class="show-btn" id="my-btn" (click) = party()><a href="#">CLICK ME</a></button>
        <img src="{{ party_img }}">
    <router-outlet></router-outlet>-->


    <section class="section-3">
        <div class="section-3-items">
            <button type="submit" class="s3-btn-1" (click) = tech() style="border-bottom: 2px solid blue">Technology & <br>Innovation</button>
            <button type="submit" class="s3-btn-2" (click) = tb()>Technology & beverage</button>
            <button type="submit" class="s3-btn-3" (click) = im()>Innovative<br>Meetings</button>
            <button type="submit" class="s3-btn-4" (click) = our_hotels()>Our hotels</button>
            <button type="submit" class="s3-btn-5" (click) = hh()>Join Hilton Honors</button>
        </div>
        <div class="s-3-img">
            <img src="{{ my_img }}" style="width: 400px;">
            <div class="s-3-img-info">
                <h2 class="title2">{{ heading }}</h2>
                <p style="max-width: 500px; margin-right: 100px; ">{{ content }}</p>
            </div>
        </div>

    </section>





    <footer class="footer">
        

       <p style="color: white; margin-left: 20px; margin-top: 30px;">How can we help?</p>
       <h3 style="color: white;">+1-800-HILTONS</h3>
       <p style="color: white; margin-left: 20px">Call us, it's toll free</p>
       <ul>
        <li class="social-icons-footer">
            <a href="https://www.facebook.com/Hilton/"><i class="fab fa-facebook" style="font-size:38px;color:white;"></i></a>
            <a href="https://www.instagram.com/hiltonhotels/"><i class="fab fa-instagram" style="font-size:38px;color:white;"></i></a>
            <a href="https://twitter.com/hiltonhotels"><i class="fab fa-twitter" style="font-size:38px;color:white;"></i></a>
            <a href="https://www.pinterest.com/hiltonhotels/"><i class="fab fa-pinterest" style="font-size:38px;color:white;"></i></a>
        </li>
       </ul>

       <div class="copyright">
        <i class="fas fa-copyright" style="font-size:13px;color:white; margin-left: 20px; margin-top: 90px;"></i>
        <p id="cr-text">2023 Hilton</p>
        </div>

      </footer>
</body>
</html>